<section class="skills" id="skills">

    <div class="container">

        <span class="tag">
            STACK
        </span>

        <h2>

            Tecnologias que utilizo

        </h2>

        <div class="grid">

            <div class="card">Angular</div>

            <div class="card">TypeScript</div>

            <div class="card">JavaScript</div>

            <div class="card">HTML5</div>

            <div class="card">CSS3</div>

            <div class="card">Git</div>

            <div class="card">Azure DevOps</div>

            <div class="card">REST API</div>

            <div class="card">Responsive</div>

            <div class="card">Figma</div>

        </div>

    </div>

</section>