<section class="ocean">

    <div class="sky">

        <div class="sun"></div>

        <div class="cloud cloud-1"></div>

        <div class="cloud cloud-2"></div>

        <div class="cloud cloud-3"></div>

    </div>

    <div class="surface">

        <svg viewBox="0 0 1440 120" preserveAspectRatio="none" class="wave">

            <path d="
            M0,40

            C180,90
            360,0
            540,40

            C720,80
            900,10
            1080,45

            C1260,80
            1440,25
            1440,25

            L1440,120

            L0,120

            Z
            " />

        </svg>

    </div>

    <div class="water">

    <div class="light light-1"></div>
    <div class="light light-2"></div>
    <div class="light light-3"></div>

</div>

</section>