:host{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    z-index:9999;

}

header{

    width:min(1300px,95%);

    height:75px;

    margin:20px auto;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 30px;

    border-radius:18px;

    background:
rgba(4,20,40,.35);

backdrop-filter:
blur(25px);


    border:1px solid rgba(255,255,255,.15);

}

.logo{

    color:white;

    font-size:2rem;

    font-weight:900;

}

nav{

    display:flex;

    gap:35px;

}

nav a{

    color:white;

    text-decoration:none;

    font-weight:600;

    transition:.25s;

}

nav a:hover{

    color:#FFE066;

}

@media (max-width:768px){

    .hero{

        padding:24px;

    }

    h1{

        font-size:clamp(3rem,12vw,5rem);

    }

    .buttons{

        flex-direction:column;

    }

    .buttons button{

        width:100%;

    }

}