:host{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    z-index:9999;

}

header{

    width:min(1300px,95%);

    height:75px;

    margin:20px auto;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 30px;

    border-radius:18px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.15);

}

.logo{

    color:white;

    font-size:2rem;

    font-weight:900;

}

nav{

    display:flex;

    gap:35px;

}

nav a{

    color:white;

    text-decoration:none;

    font-weight:600;

    transition:.25s;

}

nav a:hover{

    color:#FFE066;

}