.section {

    min-height: 100vh;

    display: flex;

    align-items: center;

    justify-content: center;

}

.container {

    width: min(1100px,90%);

}

span {

    color: #4fc3f7;

    font-size: 1.1rem;

}

h2 {

    color: white;

    font-size: clamp(3rem,7vw,5rem);

    margin: 15px 0;

}

p {

    color: white;

    max-width: 700px;

    line-height: 1.8;

}