:host{

    display:block;

    position:relative;

    width:100%;

    height:100vh;

}

.hero-content{

    position:absolute;

    inset:0;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    z-index:100;

    padding-inline:2rem;
    animation:

    heroFade

    1.2s

    ease;

}

.hero-tag{

    color:white;

    letter-spacing:5px;

    font-size:.9rem;

    margin-bottom:1.5rem;

    opacity:.9;

}

h1{

    font-size:clamp(5rem,12vw,9rem);

    line-height:.9;

    color:white;

    font-weight:800;

}

h1 span{

    display:block;

    background:

linear-gradient(

90deg,

#fff7ad,

#ffe066,

#ffc107

);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

}

p{

    margin-top:2rem;

    max-width:650px;

    line-height:1.8;

    color:white;

    font-size:1.15rem;

}

.hero-actions{

    margin-top:3rem;

}

.primary{

    border:none;

    cursor:pointer;

    background:white;

    color:#023352;

    padding:20px 45px;

    border-radius:999px;

    font-weight:700;

    font-size:1rem;

    transition:.3s;

    box-shadow:

        0 15px 40px rgba(0,0,0,.20);

}

.primary:hover{

    transform:

        translateY(-5px)
        scale(1.03);

    box-shadow:

        0 30px 60px rgba(0,0,0,.35);

}

.scroll-indicator{

    position:absolute;

    bottom:50px;

}

.scroll-indicator span{

    display:block;

    width:30px;

    height:50px;

    border:

    2px

    solid

    white;

    border-radius:20px;

    position:relative;

}

.scroll-indicator span::before{

    content:"";

    position:absolute;

    left:50%;

    top:10px;

    width:5px;

    height:10px;

    background:white;

    border-radius:10px;

    transform:translateX(-50%);

    animation:

    scroll

    2s

    infinite;

}

@keyframes scroll{

    0%{

        opacity:1;

        top:10px;

    }

    100%{

        opacity:0;

        top:28px;

    }

}

@keyframes heroFade{

    from{

        opacity:0;

        transform:

        translateY(40px);

    }

    to{

        opacity:1;

        transform:

        translateY(0);

    }

}